<div class="filteraz-inner">
    <a class="filteraz-link active" href="#">Show All</a>
    <a class="filteraz-link" href="#">A</a>
    <a class="filteraz-link" href="#">B</a>
    <a class="filteraz-link" href="#">C</a>
    <a class="filteraz-link" href="#">D</a>
    <a class="filteraz-link" href="#">E</a>
    <a class="filteraz-link" href="#">F</a>
    <a class="filteraz-link" href="#">G</a>
    <a class="filteraz-link" href="#">H</a>
    <a class="filteraz-link" href="#">I</a>
    <a class="filteraz-link" href="#">J</a>
    <a class="filteraz-link" href="#">K</a>
    <a class="filteraz-link" href="#">L</a>
    <a class="filteraz-link" href="#">M</a>
    <a class="filteraz-link" href="#">N</a>
    <a class="filteraz-link" href="#">O</a>
    <a class="filteraz-link" href="#">P</a>
    <a class="filteraz-link" href="#">Q</a>
    <a class="filteraz-link" href="#">R</a>
    <a class="filteraz-link" href="#">S</a>
    <a class="filteraz-link" href="#">T</a>
    <a class="filteraz-link" href="#">U</a>
    <a class="filteraz-link" href="#">V</a>
    <a class="filteraz-link" href="#">W</a>
    <a class="filteraz-link" href="#">X</a>
    <a class="filteraz-link" href="#">Y</a>
    <a class="filteraz-link" href="#">Z</a>
</div>